<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     {% load static from staticfiles %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

</head>
<body>
<form method="POST">
    {% csrf_token %}
<div style="width:500px; margin-top: 30px;" class="container">
    <div class="panel panel-default">
        <h3 style="text-align: center">ALMACEN ICPNA</h3>
        <div class="panel-body form-horizontal payment-form">
            <div class="form-group">
            <label for="concept" class="col-sm-3 control-label">Usuario</label>
                <div class="col-sm-9">
                    {{ form.username }}
                    {{ form.username.errors }}
                </div>
            </div>
            <div class="form-group">
                <label for="status" class="col-sm-3 control-label">Contraseña</label>
                <div class="col-sm-9">
                    {{ form.password }}
                    {{ form.password.errors }}
                </div>
            </div>
                    <!-- <div class="form-group">
                        <label for="date" class="col-sm-3 control-label">Date</label>
                        <div class="col-sm-9">
                            <input type="date" class="form-control" id="date" name="date">
                        </div>
                    </div> -->   
            <div class="form-group">
                <div class="col-sm-12 text-center">
                    <input type="submit" class="btn btn-info" value="Ingresar">
                    <!--    <span class="glyphicon glyphicon-plus"></span> Add
                    </button> -->
                </div>
            </div>
        </div>
    </div>
</div>
</form>
</body>
</html>